{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/reset_password.css' %}">
</head>
<body>
    <h1>Reset Password</h1>
    <form id="resetPasswordForm" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
    </form>
    <div id="resetPasswordMessage"></div>
    <!-- Include reset_password.js script -->
    <script src="{% static 'js/email_reset_password.js' %}"></script>

    <!-- Button for password reset form -->
    <a href="{% url 'reset-password/<uid>/<token>' %}" class="btn btn-secondary">Reset Password</a>
</body>
</html>
