<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Secure Authentication Incomplete</title>
</head>
<body>
    <h1>3D Secure Authentication Incomplete</h1>
    <p>{{ error_message }}</p>
    <p>The 3D Secure authentication attempt is incomplete.</p>
    <p>Please follow the instructions provided by your card issuer to complete the authentication process.</p>
    <!-- You may also provide a link to retry the payment if needed -->
</body>
</html>
