{% extends 'main.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for product in new_arrivals %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="{{ product.imageURL }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Price: Rs.{{ product.price|floatformat:2 }}</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-sm btn-outline-secondary update-cart" data-product="{{ product.id }}" data-action="add">Add to Cart</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
